body{
    font-family: "Roboto", sans-serif;
    background-color: #fff; 
    text-decoration: none;
    list-style-type: none;
    color:#434455 ; 
    
}
/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

button{cursor: pointer;
background: #4d5ae5;}



/*-------------header--------------*/
.header {
    border-bottom: 1px solid #e7e9fc;
}
.container{ max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;}

.header-container{
    display: flex;
    align-items: center;
}


.header-navigation {
    display: flex;
    align-items: center;
   
}

.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 78px;
}


.header-web {
        color: #2e2f42;}
    

.heder-menu-list{display: flex;
gap: 40px;}


.heder-menu-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
}

.header-href:hover, .header-href:focus {
    color: #404bbf;
}

.header-href {
    color: #2e2f42;
    }
    




/*-----------contacts-----------------*/
.heder-contacts-list {display: flex;
gap: 40px;}
.header-cotacts-items {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.heder-contacts {
    font-style: normal;
    margin-left:  auto;
    
}

.hedear-menu-link:hover, .hedear-menu-link:focus {
    color: #404bbf;
}
.hedear-menu-link {
    color: #434455;
}

/*-----------------HERO -------------*/

.secnion-hero {
    background: #2e2f42;
    padding: 188px 472px;
}

.hero 
{ font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
    margin-bottom: 48px;}

        .container-title{width: 496px;}

.container-btn {
        display: flex;
    justify-content: center;
   
}

.hero-order-btn:hover, .hero-order-btn:focus {
    background-color: #404bbf;
}

.hero-order-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        font-family: inherit;
    border-radius: 4px;
        padding: 16px 32px;
        
       }

    


/*--------------skills---------------*/
.section-skills{padding-top: 106px;
    padding-bottom: 107px;
    
}

.skills {
    visibility: hidden;
    color: #2e2f42;
    
        
}

.skills-list {display: flex;
gap: 24px;}

.skills-item {
    width: calc((100% - 2 * 24px) / 3);
}

.skills-titel {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }


.skills-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*--------------------team-----------*/
.section-tem{background: #f4f4fd;
    
    
}

.team {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        padding-top: 120px;
        
}
 

.team-list {display: flex;
    gap: 24px;
    padding-bottom: 120px;
    
    
}



.team-items {background-color: #fff;}

.team-img { margin-bottom: 32px;}

.clas {}


.team-name {
    color: #2e2f42;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
    margin-bottom: 8px;
        
}

.team-text{font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    text-align: center;
    
        }
    /*-------------------------------------------portfolio------------------------*/
        .portfolio
        {  font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                color: #2e2f42;
                text-align: center;
                text-transform: capitalize;
                padding-top: 120px;
                padding-bottom: 72px;
        }
    
        .portfolio-list {display: flex;
            flex-wrap: wrap;
        gap: 24px;
    padding-bottom: 121px;}
            
    
        .portfolio-list-item {}
    
        .portfolio-img {margin-bottom: 32px;}
    
        .portfolio-title { 
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                text-transform: capitalize;
                margin-bottom: 8px;
        }
    
        .portfolio-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        padding-bottom: 32px;}

    /*----------------footer-------------*/
        .footer {background: #2e2f42;}
    
        .footer-logo {font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;

            }

        .footer-web {color: #f4f4fd; 
        }
    
        .footer-text { 
    
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #f4f4fd;
        }